In [1]:
#importare librerie necessarie
import pandas as pd
import numpy as np
ambiente = pd.read_csv('ambiente.csv', sep = '\t',
                          encoding ="ISO-8859-1", thousands=',')
ambiente

,"CITIES,INDIC_UR\TIME",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"Belgium,Average temperature of warmest month -...",:,19.00,18.40,16.70,21.80,20.90,17.30,21.20,17.40,...,:,:,:,:,:,:,:,:,:,:
1,"Bruxelles / Brussel,Average temperature of war...",17.40,:,:,:,:,:,:,:,:,...,:,17.60,:,:,:,:,:,:,:,:
2,"Antwerpen,Average temperature of warmest month...",17.05,:,:,:,:,:,:,:,:,...,:,17.60,:,:,:,:,:,:,:,:
3,"Gent,Average temperature of warmest month - de...",16.75,:,:,:,:,:,:,:,:,...,:,17.20,:,:,:,:,:,:,:,:
4,"Charleroi,Average temperature of warmest month...",16.65,:,:,:,:,:,:,:,:,...,:,17.30,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5305,"Luzern,Share of land (%): Green urban areas an...",:,:,:,:,:,:,:,:,:,...,:,:,6.9,:,:,:,:,:,:,:
5306,"Luzern (greater city),Share of land (%): Green...",:,:,:,:,:,:,:,:,:,...,:,:,3.1,:,:,:,:,:,:,:
5307,"Lugano,Share of land (%): Green urban areas an...",:,:,:,:,:,:,:,:,:,...,:,:,1.8,:,:,:,:,:,:,:
5308,"Lugano (greater city),Share of land (%): Green...",:,:,:,:,:,:,:,:,:,...,:,:,1.7,:,:,:,:,:,:,:
5309,"Biel/Bienne,Share of land (%): Green urban are...",:,:,:,:,:,:,:,:,:,...,:,:,3.7,:,:,:,:,:,:,:

In [2]:
#eliminazione duplicati
ambiente = ambiente.drop_duplicates()
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5291

In [3]:
i=0
for el in city:
    if el == 'Liverpool':
        print(i)
    i+=1

828
829
1885
1886
2942
2943
3999
4000
5059
5060

In [4]:
ambiente = ambiente.drop(ambiente.index[829])
ambiente = ambiente.drop(ambiente.index[1885])
ambiente = ambiente.drop(ambiente.index[2941])
ambiente = ambiente.drop(ambiente.index[3997])
ambiente = ambiente.drop(ambiente.index[5056])

In [5]:
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5286

In [6]:
#verifica
i=0
for el in city:
    if el == 'Stoke-on-trent':
        print(i)
    i+=1

853
854
1909
1910
2965
2966
4021
4022
5080
5081

In [7]:
ambiente = ambiente.drop(ambiente.index[854])
ambiente = ambiente.drop(ambiente.index[1909])
ambiente = ambiente.drop(ambiente.index[2964])
ambiente = ambiente.drop(ambiente.index[4019])
ambiente = ambiente.drop(ambiente.index[5077])

In [8]:
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5281

In [9]:
#verifica
i=0
for el in city:
    if el == 'Southampton':
        print(i)
    i+=1

935
1990
3045
4100
4101
5158
5159

In [10]:
ambiente = ambiente.drop(ambiente.index[4101])
ambiente = ambiente.drop(ambiente.index[5158])

In [11]:
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5279

In [12]:
#verifica
i=0
for el in city:
    if el == 'Bournemouth':
        print(i)
    i+=1

954
2009
3064
4119
4120
5176
5177

In [14]:
ambiente = ambiente.drop(ambiente.index[4120])
ambiente = ambiente.drop(ambiente.index[5176])

In [15]:
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5275

In [16]:
#verifica
i=0
for el in city:
    if el == 'Blackpool':
        print(i)
    i+=1

970
2025
3080
4134
4135
5189
5190

In [17]:
ambiente = ambiente.drop(ambiente.index[4136])
ambiente = ambiente.drop(ambiente.index[5191])

In [18]:
lista_citta = ambiente['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

5273

In [19]:
misurazioni = pd.DataFrame(misurazioni)
misurazioni.groupby(0).size()

0
ainfall - litre/mÂ²                                                       1055
hare of land (%): Green urban areas and sports and leisure facilities    1054
hare of land (%): Transport infrastructure                               1054
verage temperature of coldest month - degrees                            1055
verage temperature of warmest month - degrees                            1055
dtype: int64

In [20]:
unici=[]
for el in city:
    if el not in unici:
        unici.append(el)
len(unici)

1055

In [21]:
diz={}
for el in unici:
    i=0
    for elemento in city:
        if elemento==el:
            i+=1
    diz[el]=i

In [22]:
lista_doppioni=[]
for key, value in diz.items() :
    if value != 5:
        print (key, value)
        lista_doppioni.append(key)
lista_doppioni

Wycombe 4
Southend-on-Sea 4
Blackpool 7
Maidstone 4
Poole 4

['Wycombe', 'Southend-on-Sea', 'Blackpool', 'Maidstone', 'Poole']

In [23]:
ambiente['CITIES,INDIC_UR\TIME']=city

In [50]:
#creazione dei sottodataset per la macrocategoria
warmest = ambiente[:1055]
coldest = ambiente[1055:2110]
rainfall = ambiente[2110:3165]
tra_inf = ambiente[3165:4220]
green = ambiente[4220:]

In [51]:
#pulizia dei dati mancanti e ambigui
for index, row in warmest.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')

In [52]:
for index, row in coldest.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')

In [53]:
for index, row in rainfall.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')

In [54]:
for index, row in tra_inf.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')

In [55]:
for index, row in green.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')

In [56]:
warmest = warmest.replace(':', np.nan)
coldest = coldest.replace(':', np.nan)
rainfall = rainfall.replace(':', np.nan)
tra_inf = tra_inf.replace(':', np.nan)
green = green.replace(':', np.nan)

In [57]:
#importare librerie per fare previsione tramite regressione lineare per gli indici del 2019
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [58]:
warmest = warmest.reset_index(drop=True)
warmest_prova = warmest.iloc[:,1:30]
warmest_prova = warmest_prova.dropna(how='all')

lista_indici=[]
for index,row in warmest_prova.iterrows():
    lista_indici.append(index)
warmest.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

warmest_prova = warmest_prova.reset_index(drop=True)

In [59]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,482):
    y = []
    for el in warmest_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [61]:
warmest2019 = pd.DataFrame(lista_prev2019)
warmest2019['city'] = warmest['CITIES,INDIC_UR\TIME']
warmest2019

             0                 city
0    19.204831              Belgium
1    19.329885  Bruxelles / Brussel
2    19.246839            Antwerpen
3    19.166790                 Gent
4    18.960140            Charleroi
..         ...                  ...
477  20.715887              Trieste
478  18.346552              Perugia
479  19.922660               Ancona
480  23.200739              Pescara
481  20.451724           Campobasso

[482 rows x 2 columns]

In [62]:
coldest = coldest.reset_index(drop=True)
coldest_prova = coldest.iloc[:,1:30]
coldest_prova = coldest_prova.dropna(how='all')

lista_indici=[]
for index,row in coldest_prova.iterrows():
    lista_indici.append(index)
coldest.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

coldest_prova = coldest_prova.reset_index(drop=True)

In [63]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,485):
    y = []
    for el in coldest_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [64]:
coldest2019 = pd.DataFrame(lista_prev2019)
coldest2019['city'] = coldest['CITIES,INDIC_UR\TIME']
coldest2019

            0                 city
0    2.901383              Belgium
1    2.250328  Bruxelles / Brussel
2    2.293227            Antwerpen
3    2.291790                 Gent
4    1.556322            Charleroi
..        ...                  ...
480  1.650493              Pescara
481 -1.736700           Campobasso
482 -0.124631              Caserta
483  3.055583              Taranto
484 -0.153695              Potenza

[485 rows x 2 columns]

In [65]:
rainfall = rainfall.reset_index(drop=True)
rainfall_prova = rainfall.iloc[:,1:30]
rainfall_prova = rainfall_prova.dropna(how='all')

lista_indici=[]
for index,row in rainfall_prova.iterrows():
    lista_indici.append(index)
rainfall.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

rainfall_prova = rainfall_prova.reset_index(drop=True)

In [66]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,483):
    y = []
    for el in rainfall_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [67]:
rainfall2019 = pd.DataFrame(lista_prev2019)
rainfall2019['city'] = rainfall['CITIES,INDIC_UR\TIME']
rainfall2019

               0                 city
0     870.947518              Belgium
1     824.188095  Bruxelles / Brussel
2     753.683333            Antwerpen
3     767.314696                 Gent
4     794.498276            Charleroi
..           ...                  ...
478  1060.383547              Perugia
479  1299.195074               Ancona
480  1197.947947              Pescara
481  1560.983210           Campobasso
482  1206.903695              Caserta

[483 rows x 2 columns]

In [70]:
tra_inf = tra_inf.reset_index(drop=True)
tra_inf_prova = tra_inf.iloc[:,1:30]
tra_inf_prova = tra_inf_prova.dropna(how='all')

lista_indici=[]
for index,row in tra_inf_prova.iterrows():
    lista_indici.append(index)
tra_inf.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

tra_inf_prova = tra_inf_prova.reset_index(drop=True)

In [72]:
len(tra_inf_prova)

532

In [73]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,532):
    y = []
    for el in tra_inf_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [74]:
tra_inf2019 = pd.DataFrame(lista_prev2019)
tra_inf2019['city'] = tra_inf['CITIES,INDIC_UR\TIME']
tra_inf2019

        0                 city
0    14.0              Belgium
1    41.7  Bruxelles / Brussel
2    12.4            Antwerpen
3     9.9                 Gent
4     5.5            Charleroi
..    ...                  ...
527   6.8                Anzio
528   6.1             Sassuolo
529   3.6              Messina
530   4.2                Prato
531   8.5                Parma

[532 rows x 2 columns]

In [75]:
green = green.reset_index(drop=True)
green_prova = green.iloc[:,1:30]
green_prova = green_prova.dropna(how='all')

lista_indici=[]
for index,row in green_prova.iterrows():
    lista_indici.append(index)
green.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

green_prova = green_prova.reset_index(drop=True)

In [76]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,448):
    y = []
    for el in green_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [77]:
green2019 = pd.DataFrame(lista_prev2019)
green2019['city'] = green['CITIES,INDIC_UR\TIME']
green2019

        0                            city
0    13.2             Bruxelles / Brussel
1     6.8                       Antwerpen
2     6.6                            Gent
3     6.2                       Charleroi
4     2.6                           LiÃ¨ge
..    ...                             ...
443  15.9  CA de la VallÃ©e de Montmorency
444  13.7                       Martigues
445  12.0             Argenteuil - Bezons
446  19.0                  Cergy-Pontoise
447  12.3            Charleville-MÃ©ziÃ¨res

[448 rows x 2 columns]

In [ ]:
from pymongo import MongoClient
client = MongoClient('mongo', 27017, username='admin', password='DataMan2019!')
Eurostat_db = client.Eurostat_db

In [ ]:
warmest2019.columns = ['Average temperature of warmest month', 'city']
coldest2019.columns = ['Average temperature of coldest month', 'city']
rainfall2019.columns = ['Rainfall','city']
tra_inf2019.columns = [ 'Transport infrastructure', 'city']
green2019.columns = [' Green urban areas and sports and leisure facilities', 'city']
warmest_2019 = Eurostat_db.warmest_2019
coldest_2019 = Eurostat_db.coldest_2019
rainfall_2019 = Eurostat_db.rainfall_2019
tra_inf_2019 = Eurostat_db.tra_inf_2019
green_2019 = Eurostat_db.green_2019
warmest_2019.insert_many(warmest2019.to_dict('records'))
coldest_2019.insert_many(coldest2019.to_dict('records'))
rainfall_2019.insert_many(rainfall2019.to_dict('records'))
tra_inf_2019.insert_many(tra_inf2019.to_dict('records'))
green_2019.insert_many(green2019.to_dict('records'))

In [78]:
#passaggi identici ai precedenti per tutte le macrocategorie considerate
condizioni_vita = pd.read_csv('condizioni_vita.csv', sep = '\t',
                          encoding ="ISO-8859-1", thousands=',')

In [79]:
lista_city_index = condizioni_vita['CITIES,INDIC_UR\TIME'].str.split(',\w')

In [80]:
lista_city = []
lista_index = []

for el in lista_city_index:
    lista_city.append(el[0])
    lista_index.append(el[1])

In [81]:
condizioni_vita['city'] = lista_city
condizioni_vita['indicatori'] = lista_index

In [82]:
del condizioni_vita['CITIES,INDIC_UR\TIME']

In [83]:
condizioni_vita.groupby('indicatori').size()

indicatori
umber of murders and violent deaths            1026
verage annual rent for housing per mÂ² - EUR    1026
dtype: int64

In [84]:
misurazioni = []
city = []
for el in lista_city_index:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

2052

In [85]:
misurazioni = pd.DataFrame(misurazioni)
misurazioni.groupby(0).size()

0
umber of murders and violent deaths            1026
verage annual rent for housing per mÂ² - EUR    1026
dtype: int64

In [86]:
unici=[]
for el in city:
    if el not in unici:
        unici.append(el)
len(unici)

1026

In [87]:
diz={}
for el in unici:
    i=0
    for elemento in city:
        if elemento==el:
            i+=1
    diz[el]=i

In [88]:
lista_doppioni=[]
for key, value in diz.items() :
    if value != 2:
        print (key, value)
        lista_doppioni.append(key)
lista_doppioni

[]

In [89]:
condizioni_vita.groupby('indicatori').size()

indicatori
umber of murders and violent deaths            1026
verage annual rent for housing per mÂ² - EUR    1026
dtype: int64

In [90]:
number_of_violent_death = condizioni_vita.loc[1026:]

In [91]:
for index, row in number_of_violent_death.iterrows():
    for i in range(1990,2019):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(': c', ':')

In [92]:
number_of_violent_death_na = number_of_violent_death.replace(':', np.nan)

In [93]:
death_num = number_of_violent_death_na.reset_index(drop=True)
death_num_prova = death_num.iloc[:,0:29]
death_num_prova = death_num.dropna(how='all')

lista_indici=[]
for index,row in death_num_prova.iterrows():
    lista_indici.append(index)
death_num.iloc[lista_indici]['city']

death_num_prova = death_num_prova.reset_index(drop=True)

In [ ]:
data_reg = death_num_prova.iloc[:,0:29]
data_reg = data_reg.dropna(how='all')
list(data_reg.index)

In [95]:
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

lista_prev2019 = []

x = list(range(1990,2019))
x=np.array(x).reshape((-1,1))

for i in list(data_reg.index):
    y = []
    for el in data_reg.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2019).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [96]:
data_finale = pd.DataFrame(lista_prev2019)
data_finale

              0
0    198.175066
1     35.396935
2     17.052107
3      5.134100
4      9.586207
..          ...
968    0.386207
969    0.965517
970    0.000000
971    0.379310
972    0.593103

[973 rows x 1 columns]

In [97]:
lista_city_finale = death_num.loc[list(data_reg.index),]['city']
lista_city_finale

0                   Belgium
1       Bruxelles / Brussel
2                 Antwerpen
3                      Gent
4                 Charleroi
               ...
1021             Winterthur
1022             St. Gallen
1023                 Luzern
1024                 Lugano
1025            Biel/Bienne
Name: city, Length: 973, dtype: object

In [98]:
data_finale['city'] = lista_city_finale
violent_death2019 = data_finale.dropna().reset_index(drop=True)

In [101]:
violent_death2019.columns = ['Number of murders and violent deaths', 'city']
violent_death_2019 = Eurostat_db.violent_death_2019
violent_death_2019.insert_many(violent_death2019.to_dict('records'))

In [105]:
cultura = pd.read_csv('cultura_e_turismo.csv', sep = '\t',
                          encoding ="ISO-8859-1", thousands=',')

In [106]:
cultura = cultura.drop_duplicates()

In [107]:
lista_citta = cultura['CITIES,INDIC_UR\TIME'].str.split(',\w')
lista_citta

0          [Belgium, umber of museum visitors (per year)]
1       [Bruxelles / Brussel, umber of museum visitors...
2        [Antwerpen, umber of museum visitors (per year)]
3             [Gent, umber of museum visitors (per year)]
4        [Charleroi, umber of museum visitors (per year)]
                              ...
6157    [Winterthur, umber of available beds per 1000 ...
6158    [St. Gallen, umber of available beds per 1000 ...
6159    [Luzern, umber of available beds per 1000 resi...
6160    [Lugano, umber of available beds per 1000 resi...
6161    [Biel/Bienne, umber of available beds per 1000...
Name: CITIES,INDIC_UR\TIME, Length: 6162, dtype: object

In [108]:
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

6162

In [109]:
misurazioni = pd.DataFrame(misurazioni)
misurazioni.groupby(0).size()

0
otal nights spent in tourist accommodation establishments                            1027
otal nights spent in tourist accommodation establishments per resident population    1027
umber of available beds per 1000 residents                                           1027
umber of bed-places in tourist accommodation establishments                          1027
umber of museum visitors (per year)                                                  1027
umber of public libraries (all distribution points)                                  1027
dtype: int64

In [110]:
unici=[]
for el in city:
    if el not in unici:
        unici.append(el)
len(unici)

1027

In [111]:
diz={}
for el in unici:
    i=0
    for elemento in city:
        if elemento==el:
            i+=1
    diz[el]=i

In [112]:
lista_doppioni=[]
for key, value in diz.items() :
    if value != 6:
        print (key, value)
        lista_doppioni.append(key)
lista_doppioni

[]

In [113]:
cultura['CITIES,INDIC_UR\TIME']=city

In [130]:
nights = cultura[:1027]
nights_per_resident = cultura[1027:2054]
beds_per_resident = cultura[2054:3081]
bed_places = cultura[3081:4108]
museum_visitors = cultura[4108:5135]
libraries = cultura[5135:]

In [131]:
for index, row in nights.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [132]:
for index, row in nights_per_resident.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [133]:
for index, row in beds_per_resident.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [134]:
for index, row in bed_places.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [135]:
for index, row in museum_visitors.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [136]:
for index, row in libraries.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [137]:
nights = nights.replace(':', np.nan)
nights_per_resident = nights_per_resident.replace(':', np.nan)
beds_per_resident = beds_per_resident.replace(':', np.nan)
bed_places = bed_places.replace(':', np.nan)
museum_visitors = museum_visitors.replace(':', np.nan)
libraries = libraries.replace(':', np.nan)

In [138]:
nights = nights.reset_index(drop=True)
nights_prova = nights.iloc[:,1:30]
nights_prova = nights_prova.dropna(how='all')

lista_indici=[]
for index,row in nights_prova.iterrows():
    lista_indici.append(index)
nights.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

nights_prova = nights_prova.reset_index(drop=True)
len(nights_prova)

769

In [139]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,769):
    y = []
    for el in nights_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [140]:
nights2019 = pd.DataFrame(lista_prev2019)
nights2019['city'] = nights['CITIES,INDIC_UR\TIME']
nights2019

                0                 city
0    2.604648e+06              Belgium
1    1.177071e+06  Bruxelles / Brussel
2    8.720082e+05            Antwerpen
3    9.241979e+04                 Gent
4    1.752855e+05            Charleroi
..            ...                  ...
764  5.484699e+05                 Iasi
765  4.842866e+05               Galati
766  2.314999e+05               Brasov
767  8.591049e+05             Ploiesti
768  3.589062e+04              Pitesti

[769 rows x 2 columns]

In [141]:
nights_per_resident = nights_per_resident.reset_index(drop=True)
nights_per_resident_prova = nights_per_resident.iloc[:,1:30]
nights_per_resident_prova = nights_per_resident_prova.dropna(how='all')

lista_indici=[]
for index,row in nights_per_resident_prova.iterrows():
    lista_indici.append(index)
nights_per_resident.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

nights_per_resident_prova = nights_per_resident_prova.reset_index(drop=True)
len(nights_per_resident_prova)

820

In [142]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,820):
    y = []
    for el in nights_per_resident_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [143]:
nights_per_resident2019 = pd.DataFrame(lista_prev2019)
nights_per_resident2019['city'] = nights_per_resident['CITIES,INDIC_UR\TIME']
nights_per_resident2019

             0                 city
0    76.471921              Belgium
1    27.825534  Bruxelles / Brussel
2    18.128079            Antwerpen
3    15.654351                 Gent
4    46.050903            Charleroi
..         ...                  ...
815   8.000000         Glasgow City
816   7.000000             Bradford
817   5.750000            Liverpool
818  16.000000    City of Edinburgh
819   1.000000           Manchester

[820 rows x 2 columns]

In [144]:
beds_per_resident = beds_per_resident.reset_index(drop=True)
beds_per_resident_prova = beds_per_resident.iloc[:,1:30]
beds_per_resident_prova = beds_per_resident_prova.dropna(how='all')

lista_indici=[]
for index,row in beds_per_resident_prova.iterrows():
    lista_indici.append(index)
beds_per_resident.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

beds_per_resident_prova = beds_per_resident_prova.reset_index(drop=True)
len(beds_per_resident_prova)

815

In [145]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,815):
    y = []
    for el in beds_per_resident_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [146]:
beds_per_resident2019 = pd.DataFrame(lista_prev2019)
beds_per_resident2019['city'] = beds_per_resident['CITIES,INDIC_UR\TIME']
beds_per_resident2019

                0                 city
0    3.438823e+07              Belgium
1    5.772217e+06  Bruxelles / Brussel
2    1.525453e+06            Antwerpen
3    7.608346e+05                 Gent
4    2.178220e+05            Charleroi
..            ...                  ...
810  1.631922e+05                 Lund
811  1.754722e+05                BorÃ¥s
812  1.102733e+06       United Kingdom
813  5.367015e+05           Birmingham
814  9.138672e+04                Leeds

[815 rows x 2 columns]

In [147]:
bed_places = bed_places.reset_index(drop=True)
bed_places_prova = bed_places.iloc[:,1:30]
bed_places_prova = bed_places_prova.dropna(how='all')

lista_indici=[]
for index,row in bed_places_prova.iterrows():
    lista_indici.append(index)
bed_places.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

bed_places_prova = bed_places_prova.reset_index(drop=True)
len(bed_places_prova)

821

In [148]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,821):
    y = []
    for el in bed_places_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [149]:
bed_places2019 = pd.DataFrame(lista_prev2019)
bed_places2019['city'] = bed_places['CITIES,INDIC_UR\TIME']
bed_places2019

                 0                 city
0    288555.857661              Belgium
1     36839.657225  Bruxelles / Brussel
2     12217.141010            Antwerpen
3      6174.183908                 Gent
4      1378.833128            Charleroi
..             ...                  ...
816    1099.964759             Bradford
817    1261.825881            Liverpool
818    5519.648541    City of Edinburgh
819    3041.176014           Manchester
820     592.162941              Cardiff

[821 rows x 2 columns]

In [150]:
museum_visitors = museum_visitors.reset_index(drop=True)
museum_visitors_prova = museum_visitors.iloc[:,1:30]
museum_visitors_prova = museum_visitors_prova.dropna(how='all')

lista_indici=[]
for index,row in museum_visitors_prova.iterrows():
    lista_indici.append(index)
museum_visitors.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

museum_visitors_prova = museum_visitors_prova.reset_index(drop=True)
len(museum_visitors_prova)

811

In [151]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,811):
    y = []
    for el in museum_visitors_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [152]:
museum_visitors2019 = pd.DataFrame(lista_prev2019)
museum_visitors2019['city'] = museum_visitors['CITIES,INDIC_UR\TIME']
museum_visitors2019

             0                 city
0     3.076995              Belgium
1     5.026683  Bruxelles / Brussel
2     3.127094            Antwerpen
3     3.102956                 Gent
4     1.077494            Charleroi
..         ...                  ...
806   1.602709               Ã–rebro
807   2.362562             VÃ¤sterÃ¥s
808  14.026601           NorrkÃ¶ping
809   9.463793          Helsingborg
810   1.777833                 Lund

[811 rows x 2 columns]

In [153]:
libraries = libraries.reset_index(drop=True)
libraries_prova = libraries.iloc[:,1:30]
libraries_prova = libraries_prova.dropna(how='all')

lista_indici=[]
for index,row in libraries_prova.iterrows():
    lista_indici.append(index)
libraries.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

libraries_prova = libraries_prova.reset_index(drop=True)
len(libraries_prova)

819

In [154]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,819):
    y = []
    for el in libraries_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [155]:
libraries2019 = pd.DataFrame(lista_prev2019)
libraries2019['city'] = libraries['CITIES,INDIC_UR\TIME']
libraries2019

             0                 city
0    26.111162              Belgium
1    31.913670  Bruxelles / Brussel
2    24.175411            Antwerpen
3    24.508292                 Gent
4     6.807718            Charleroi
..         ...                  ...
814  10.817931                Leeds
815  17.041798         Glasgow City
816  69.990591             Bradford
817  53.459828            Liverpool
818  11.457438    City of Edinburgh

[819 rows x 2 columns]

In [156]:
nights2019.columns = ['Total nights spent in tourist accommodation establishments', 'city']
nights_per_resident2019.columns = ['Total nights spent in tourist accommodation establishments per resident population', 'city']
beds_per_resident2019.columns = ['Number of bed-places in tourist accommodation establishments', 'city']
bed_places2019.columns = ['Number of available beds per 1000 residents', 'city']
museum_visitors2019.columns = ['Number of museum visitors', 'city']
libraries2019.columns = ['Number of public libraries', 'city']
nights_2019 = Eurostat_db.nights_2019
nights_per_resident_2019 = Eurostat_db.nights_per_resident_2019
beds_per_resident_2019 = Eurostat_db.beds_per_resident_2019
bed_places_2019 = Eurostat_db.bed_places_2019
museum_visitors_2019 = Eurostat_db.museum_visitors_2019
libraries_2019 = Eurostat_db.libraries_2019
nights_2019.insert_many(nights2019.to_dict('records'))
nights_per_resident_2019.insert_many(nights_per_resident2019.to_dict('records'))
beds_per_resident_2019.insert_many(beds_per_resident2019.to_dict('records'))
bed_places_2019.insert_many(bed_places2019.to_dict('records'))
museum_visitors_2019.insert_many(museum_visitors2019.to_dict('records'))
libraries_2019.insert_many(libraries2019.to_dict('records'))

In [377]:
popolazione = pd.read_csv('popolazione.csv', sep = '\t',
                          encoding ="ISO-8859-1", thousands=',')

In [378]:
popolazione = popolazione.drop_duplicates()

In [379]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')

In [380]:
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1076

In [381]:
i=0
for el in city:
    if el == 'Madrid':
        print(i)
    i+=1

206
207

In [382]:
popolazione = popolazione.drop(popolazione.index[207])

In [383]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1075

In [384]:
i=0
for el in city:
    if el == 'Barcelona':
        print(i)
    i+=1

207
208

In [385]:
popolazione = popolazione.drop(popolazione.index[208])

In [386]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1074

In [387]:
i=0
for el in city:
    if el == 'Valencia':
        print(i)
    i+=1

208
209

In [388]:
popolazione = popolazione.drop(popolazione.index[209])

In [389]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1073

In [390]:
i=0
for el in city:
    if el == 'Sevilla':
        print(i)
    i+=1

209
210

In [391]:
popolazione = popolazione.drop(popolazione.index[210])

In [392]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1072

In [393]:
i=0
for el in city:
    if el == 'Pamplona/IruÃ±a':
        print(i)
    i += 1

219
220

In [394]:
popolazione = popolazione.drop(popolazione.index[220])

In [395]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1071

In [396]:
i=0
for el in city:
    if el == 'Bilbao':
        print(i)
    i+=1

224
225

In [397]:
popolazione = popolazione.drop(popolazione.index[225])

In [398]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1070

In [399]:
i=0
for el in city:
    if el == 'Santa Cruz de Tenerife':
        print(i)
    i+=1

230
231

In [400]:
popolazione = popolazione.drop(popolazione.index[231])

In [401]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1069

In [402]:
i=0
for el in city:
    if el == 'Elda':
        print(i)
    i+=1

278
279

In [403]:
popolazione = popolazione.drop(popolazione.index[279])

In [404]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1068

In [405]:
i=0
for el in city:
    if el == 'Granada':
        print(i)
    i+=1

281
282

In [406]:
popolazione = popolazione.drop(popolazione.index[282])

In [407]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1067

In [408]:
i=0
for el in city:
    if el == 'Puerto de la Cruz':
        print(i)
    i+=1

329
330

In [409]:
popolazione = popolazione.drop(popolazione.index[330])

In [410]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1066

In [411]:
i=0
for el in city:
    if el == 'Igualada':
        print(i)
    i+=1

331
332

In [412]:
popolazione = popolazione.drop(popolazione.index[332])

In [413]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1065

In [414]:
i=0
for el in city:
    if el == 'Liverpool':
        print(i)
    i+=1

831
832

In [415]:
popolazione = popolazione.drop(popolazione.index[832])

In [416]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1064

In [417]:
i=0
for el in city:
    if el == 'Stoke-on-trent':
        print(i)
    i+=1

856
857

In [418]:
popolazione = popolazione.drop(popolazione.index[857])

In [419]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1063

In [420]:
i=0
for el in city:
    if el == 'Brighton and Hove':
        print(i)
    i+=1

933
934

In [421]:
popolazione = popolazione.drop(popolazione.index[934])

In [422]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1062

In [423]:
i=0
for el in city:
    if el == 'Southampton':
        print(i)
    i+=1

938
939

In [424]:
popolazione = popolazione.drop(popolazione.index[939])

In [425]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1061

In [426]:
i=0
for el in city:
    if el == 'Bournemouth':
        print(i)
    i+=1

957
958

In [427]:
popolazione = popolazione.drop(popolazione.index[958])

In [428]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1060

In [429]:
i=0
for el in city:
    if el == 'Blackpool':
        print(i)
    i+=1

973
974

In [430]:
popolazione = popolazione.drop(popolazione.index[974])

In [431]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1059

In [432]:
i=0
for el in city:
    if el == 'Rushmoor':
        print(i)
    i+=1

999
1000

In [433]:
popolazione = popolazione.drop(popolazione.index[1000])

In [434]:
lista_citta = popolazione['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

1058

In [435]:
misurazioni = pd.DataFrame(misurazioni)
misurazioni.groupby(0).size()

0
opulation on the 1st of January, total    1058
dtype: int64

In [436]:
unici=[]
for el in city:
    if el not in unici:
        unici.append(el)
len(unici)

1058

In [438]:
diz={}
for el in unici:
    i=0
    for elemento in city:
        if elemento==el:
            i+=1
    diz[el]=i

In [439]:
lista_doppioni=[]
for key, value in diz.items() :
    if value != 1:
        print (key, value)
        lista_doppioni.append(key)
lista_doppioni

[]

In [440]:
popolazione['CITIES,INDIC_UR\TIME']=city
popolazione2 = popolazione

In [441]:
for index, row in popolazione2.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('c','')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [442]:
popolazione2 = popolazione2.replace(':', np.nan)
popolazione2

,"CITIES,INDIC_UR\TIME",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Belgium,NaN,9986975,10021997,10068319,10100631,10130574,10143047,10170226,10192264,...,10839905,11000638,11094850,11161642,11203992,11258434,11307192,11351727,11398589,NaN
1,Bruxelles / Brussel,964385,954045,951217,950339,949070,951580,948122,950597,953175,...,1089538,1136778,1159448,1174624,1183841,1196831,1201129,1199095,1205492,NaN
2,Antwerpen,470349,467518,465783,465102,462880,459072,455852,453030,449745,...,483505,498473,507368,512230,513915,515593,517731,520859,523591,NaN
3,Gent,230543,230246,230232,229821,228490,227483,226464,225469,224545,...,243366,248358,249205,249754,251984,253914,257226,259462,260329,NaN
4,Charleroi,206779,206214,206903,207045,206898,206491,205591,204899,203853,...,202598,204150,204762,204826,203640,203228,202602,201884,202341,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,Luzern,76466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79464,77491,78093,79478,80501,81057,81295,NaN,NaN,NaN
1072,Luzern (greater city),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154442,152408,153850,155775,157412,158637,159189,NaN,NaN,NaN
1073,Lugano,46113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57528,54667,55151,61837,62792,63668,63583,NaN,NaN,NaN
1074,Lugano (greater city),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76624,73266,73922,80995,82453,83635,83727,NaN,NaN,NaN
1075,Biel/Bienne,51893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51991,51203,51635,52351,53031,NaN,NaN,NaN,NaN,NaN

In [443]:
popolazione2 = popolazione2.reset_index(drop=True)
popolazione2_prova = popolazione2.iloc[:,1:30]
popoplazione2_prova = popolazione2_prova.dropna(how='all')

In [444]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,1058):
    y = []
    for el in popolazione2_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [445]:
popolazione2019 = pd.DataFrame(lista_prev2019)
popolazione2019['city'] = popolazione2['CITIES,INDIC_UR\TIME']
popolazione2019

                 0                   city
0     1.132562e+07                Belgium
1     1.199625e+06    Bruxelles / Brussel
2     5.111085e+05              Antwerpen
3     2.547193e+05                   Gent
4     2.013813e+05              Charleroi
...            ...                    ...
1053  7.920575e+04                 Luzern
1054  1.559056e+05  Luzern (greater city)
1055  5.958176e+04                 Lugano
1056  7.926573e+04  Lugano (greater city)
1057  5.140723e+04            Biel/Bienne

[1058 rows x 2 columns]

In [230]:
popolazione2019.columns = ['Total population on the 1st of January', 'city']
popolazione_2019 = Eurostat_db.popolazione_2019
popolazione_2019.insert_many(popolazione2019.to_dict('records'))

In [359]:
trasporti = pd.read_csv('trasporti.csv', sep = '\t',
                          encoding ="ISO-8859-1", thousands=',')
trasporti

,"CITIES,INDIC_UR\TIME",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"Belgium,Share of journeys to work by public tr...",:,:,:,:,:,:,:,:,:,...,:,15.90,:,:,:,:,:,:,:,:
1,"Bruxelles / Brussel,Share of journeys to work ...",:,:,:,:,:,:,:,:,:,...,:,40.30,:,:,:,:,:,:,:,:
2,"Antwerpen,Share of journeys to work by public ...",:,:,:,:,:,:,:,:,:,...,:,20.70,:,:,:,:,:,:,:,:
3,"Gent,Share of journeys to work by public trans...",:,:,:,:,:,:,:,:,:,...,:,14.27,:,:,:,:,:,:,:,:
4,"Charleroi,Share of journeys to work by public ...",:,:,:,:,:,:,:,:,:,...,:,9.00,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8595,"Luzern,Cost of a taxi ride of 5 km to the cent...",:,:,:,:,:,:,:,:,:,...,18.00 p,20.00 p,21.00 p,20.30 p,20.60 e,23.40 e,22.90 e,:,:,:
8596,"Luzern (greater city),Cost of a taxi ride of 5...",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
8597,"Lugano,Cost of a taxi ride of 5 km to the cent...",:,:,:,:,:,:,:,:,:,...,: p,: p,: p,:,:,:,13.80 e,:,:,:
8598,"Lugano (greater city),Cost of a taxi ride of 5...",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
8599,"Biel/Bienne,Cost of a taxi ride of 5 km to the...",:,:,:,:,:,:,:,:,:,...,17.00 p,19.00 p,20.00 p,19.50 p,19.80 p,:,:,:,:,:

In [232]:
trasporti = trasporti.drop_duplicates()

In [360]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
lista_citta

0       [Belgium, hare of journeys to work by public t...
1       [Bruxelles / Brussel, hare of journeys to work...
2       [Antwerpen, hare of journeys to work by public...
3       [Gent, hare of journeys to work by public tran...
4       [Charleroi, hare of journeys to work by public...
                              ...
8595    [Luzern, ost of a taxi ride of 5 km to the cen...
8596    [Luzern (greater city), ost of a taxi ride of ...
8597    [Lugano, ost of a taxi ride of 5 km to the cen...
8598    [Lugano (greater city), ost of a taxi ride of ...
8599    [Biel/Bienne, ost of a taxi ride of 5 km to th...
Name: CITIES,INDIC_UR\TIME, Length: 8600, dtype: object

In [362]:
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8600

In [235]:
i=0
for el in city:
    if el == 'Madrid':
        print(i)
    i+=1

207
208
1277
1278
2347
2348
3417
3418
4489
4490
5563
5564
6626
6627
7689

In [236]:
trasporti = trasporti.drop(trasporti.index[208])
trasporti = trasporti.drop(trasporti.index[1277])
trasporti = trasporti.drop(trasporti.index[2346])
trasporti = trasporti.drop(trasporti.index[3415])
trasporti = trasporti.drop(trasporti.index[4486])
trasporti = trasporti.drop(trasporti.index[5559])
trasporti = trasporti.drop(trasporti.index[6621])

In [237]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8535

In [238]:
i=0
for el in city:
    if el == 'Barcelona':
        print(i)
    i+=1

208
209
1277
1278
2346
2347
3415
3416
4486
4487
5559
5560
6621
6622
7683

In [239]:
trasporti = trasporti.drop(trasporti.index[209])
trasporti = trasporti.drop(trasporti.index[1277])
trasporti = trasporti.drop(trasporti.index[2345])
trasporti = trasporti.drop(trasporti.index[3413])
trasporti = trasporti.drop(trasporti.index[4483])
trasporti = trasporti.drop(trasporti.index[5555])
trasporti = trasporti.drop(trasporti.index[6616])

In [240]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8528

In [241]:
i=0
for el in city:
    if el == 'Valencia':
        print(i)
    i+=1

209
210
1277
1278
2345
2346
3413
3414
4483
4484
5555
5556
6616
6617
7677

In [242]:
trasporti = trasporti.drop(trasporti.index[210])
trasporti = trasporti.drop(trasporti.index[1277])
trasporti = trasporti.drop(trasporti.index[2344])
trasporti = trasporti.drop(trasporti.index[3411])
trasporti = trasporti.drop(trasporti.index[4480])
trasporti = trasporti.drop(trasporti.index[5551])
trasporti = trasporti.drop(trasporti.index[6611])

In [243]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8521

In [244]:
i=0
for el in city:
    if el == 'Sevilla':
        print(i)
    i+=1

210
211
1277
1278
2344
2345
3411
3412
4480
4481
5551
5552
6611
7671

In [245]:
trasporti = trasporti.drop(trasporti.index[211])
trasporti = trasporti.drop(trasporti.index[1277])
trasporti = trasporti.drop(trasporti.index[2343])
trasporti = trasporti.drop(trasporti.index[3409])
trasporti = trasporti.drop(trasporti.index[4477])
trasporti = trasporti.drop(trasporti.index[5547])

In [246]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8515

In [247]:
i=0
for el in city:
    if el == 'Pamplona/IruÃ±a':
        print(i)
    i+=1

220
221
1286
1287
2352
2353
3418
3419
4486
4487
5556
5557
6615
6616
7675

In [248]:
trasporti = trasporti.drop(trasporti.index[221])
trasporti = trasporti.drop(trasporti.index[1286])
trasporti = trasporti.drop(trasporti.index[2351])
trasporti = trasporti.drop(trasporti.index[3416])
trasporti = trasporti.drop(trasporti.index[4483])
trasporti = trasporti.drop(trasporti.index[5552])
trasporti = trasporti.drop(trasporti.index[6610])

In [249]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8508

In [250]:
i=0
for el in city:
    if el == 'Bilbao':
        print(i)
    i+=1

225
226
1290
1291
2355
2356
3420
3421
4487
4488
5556
6614
7673

In [251]:
trasporti = trasporti.drop(trasporti.index[226])
trasporti = trasporti.drop(trasporti.index[1290])
trasporti = trasporti.drop(trasporti.index[2354])
trasporti = trasporti.drop(trasporti.index[3418])
trasporti = trasporti.drop(trasporti.index[4484])

In [252]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8503

In [253]:
i=0
for el in city:
    if el == 'Santa Cruz de Tenerife':
        print(i)
    i+=1

231
232
1295
1296
2359
2360
3423
3424
4489
4490
5557
6615
6616
7674
7675

In [254]:
trasporti = trasporti.drop(trasporti.index[232])
trasporti = trasporti.drop(trasporti.index[1295])
trasporti = trasporti.drop(trasporti.index[2358])
trasporti = trasporti.drop(trasporti.index[3421])
trasporti = trasporti.drop(trasporti.index[4486])
trasporti = trasporti.drop(trasporti.index[6611])
trasporti = trasporti.drop(trasporti.index[7669])

In [255]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8496

In [256]:
i=0
for el in city:
    if el == 'Elda':
        print(i)
    i+=1

279
1342
2405
3468
3469
4533
4534
5600
6658
7716

In [257]:
i=0
for el in city:
    if el == 'Elda':
        print(i)
    i+=1

279
1342
2405
3468
3469
4533
4534
5600
6658
7716

In [258]:
trasporti = trasporti.drop(trasporti.index[3469])
trasporti = trasporti.drop(trasporti.index[4533])

In [259]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8494

In [260]:
i=0
for el in city:
    if el == 'Granada':
        print(i)
    i+=1

282
1345
2408
3471
3472
4535
4536
5601
6659
7717

In [261]:
trasporti = trasporti.drop(trasporti.index[3472])
trasporti = trasporti.drop(trasporti.index[4535])

In [262]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8492

In [263]:
i=0
for el in city:
    if el == 'Puerto de la Cruz':
        print(i)
    i+=1

330
1393
2456
3519
4582
4583
5647
6705
7763

In [264]:
trasporti = trasporti.drop(trasporti.index[4583])

In [265]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8491

In [266]:
i=0
for el in city:
    if el == 'Igualada':
        print(i)
    i+=1

332
1395
2458
3521
4584
4585
5648
6706
7764

In [267]:
trasporti = trasporti.drop(trasporti.index[4585])

In [268]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8490

In [269]:
i=0
for el in city:
    if el == 'Liverpool':
        print(i)
    i+=1

831
832
1894
1895
2957
2958
4020
4021
5083
5084
6146
7204
7205
8262
8263

In [270]:
trasporti = trasporti.drop(trasporti.index[832])
trasporti = trasporti.drop(trasporti.index[1894])
trasporti = trasporti.drop(trasporti.index[2956])
trasporti = trasporti.drop(trasporti.index[4018])
trasporti = trasporti.drop(trasporti.index[5080])
trasporti = trasporti.drop(trasporti.index[7199])
trasporti = trasporti.drop(trasporti.index[8256])

In [271]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8483

In [272]:
i=0
for el in city:
    if el == 'Stoke-on-trent':
        print(i)
    i+=1

856
857
1918
1919
2980
2981
4042
4043
5104
5105
6166
6167
7224
8281
8282

In [273]:
trasporti = trasporti.drop(trasporti.index[857])
trasporti = trasporti.drop(trasporti.index[1918])
trasporti = trasporti.drop(trasporti.index[2979])
trasporti = trasporti.drop(trasporti.index[4040])
trasporti = trasporti.drop(trasporti.index[5101])
trasporti = trasporti.drop(trasporti.index[6162])
trasporti = trasporti.drop(trasporti.index[8276])

In [274]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8476

In [275]:
i=0
for el in city:
    if el == 'Brighton and Hove':
        print(i)
    i+=1

933
934
1994
1995
3055
3056
4116
4117
5177
5178
6238
7295
8352

In [276]:
trasporti = trasporti.drop(trasporti.index[934])
trasporti = trasporti.drop(trasporti.index[1994])
trasporti = trasporti.drop(trasporti.index[3054])
trasporti = trasporti.drop(trasporti.index[4114])
trasporti = trasporti.drop(trasporti.index[5174])

In [277]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8471

In [278]:
i=0
for el in city:
    if el == 'Southampton':
        print(i)
    i+=1

938
939
1998
1999
3058
3059
4118
4119
5178
5179
6238
7295
8352

In [279]:
trasporti = trasporti.drop(trasporti.index[939])
trasporti = trasporti.drop(trasporti.index[1998])
trasporti = trasporti.drop(trasporti.index[3057])
trasporti = trasporti.drop(trasporti.index[4116])
trasporti = trasporti.drop(trasporti.index[5175])

In [280]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8466

In [281]:
i=0
for el in city:
    if el == 'Bournemouth':
        print(i)
    i+=1

957
958
2016
2017
3075
3076
4134
4135
5193
5194
6252
7309
8366

In [282]:
trasporti = trasporti.drop(trasporti.index[958])
trasporti = trasporti.drop(trasporti.index[2016])
trasporti = trasporti.drop(trasporti.index[3074])
trasporti = trasporti.drop(trasporti.index[4132])
trasporti = trasporti.drop(trasporti.index[5190])

In [283]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8461

In [284]:
i=0
for el in city:
    if el == 'Blackpool':
        print(i)
    i+=1

973
974
2031
2032
3089
3090
4147
4148
5205
5206
6263
7320
8377

In [285]:
trasporti = trasporti.drop(trasporti.index[974])
trasporti = trasporti.drop(trasporti.index[2031])
trasporti = trasporti.drop(trasporti.index[3088])
trasporti = trasporti.drop(trasporti.index[4145])
trasporti = trasporti.drop(trasporti.index[5202])

In [286]:
lista_citta = trasporti['CITIES,INDIC_UR\TIME'].str.split(',\w')
misurazioni = []
city = []
for el in lista_citta:
    city.append(el[0])
    misurazioni.append(el[1])
len(misurazioni)

8456

In [288]:
unici=[]
for el in city:
    if el not in unici:
        unici.append(el)
len(unici)

1057

In [289]:
diz={}
for el in unici:
    i=0
    for elemento in city:
        if elemento==el:
            i+=1
    diz[el]=i

In [290]:
lista_doppioni=[]
for key, value in diz.items() :
    if value != 8:
        print (key, value)
        lista_doppioni.append(key)
lista_doppioni

[]

In [291]:
trasporti['CITIES,INDIC_UR\TIME']=city

In [339]:
bike_network = trasporti[:1057]
kill_accident = trasporti[1057:2114]
share_bike = trasporti[2114:3171]
share_car_mot = trasporti[3171:4228]
share_foot = trasporti[4228:5285]
share_pub_tra = trasporti[5285:6342]
cost_ticket = trasporti[6342:7399]
cost_taxi = trasporti[7399:]

In [340]:
for index, row in bike_network.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [341]:
for index, row in kill_accident.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [342]:
for index, row in share_bike.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [343]:
for index, row in share_car_mot.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [344]:
for index, row in share_foot.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [345]:
for index, row in share_pub_tra.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')

In [346]:
for index, row in cost_ticket.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace(':e', '')
        row[str(i)] = str(row[str(i)]).replace(':b', '')
        row[str(i)] = str(row[str(i)]).replace(':d', '')
        row[str(i)] = str(row[str(i)]).replace(':p', '')
        row[str(i)] = str(row[str(i)]).replace(':r', '')
        row[str(i)] = str(row[str(i)]).replace(':s', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':z', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')
        row[str(i)] = str(row[str(i)]).replace('0:', '0')
        row[str(i)] = str(row[str(i)]).replace(' :', '')
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace('s', '')

In [347]:
for index, row in cost_taxi.iterrows():
    for i in range(1990,2020):
        row[str(i)] = str(row[str(i)]).replace('e', '')
        row[str(i)] = str(row[str(i)]).replace(',', '')
        row[str(i)] = str(row[str(i)]).replace('b', '')
        row[str(i)] = str(row[str(i)]).replace('d', '')
        row[str(i)] = str(row[str(i)]).replace('p', '')
        row[str(i)] = str(row[str(i)]).replace('r', '')
        row[str(i)] = str(row[str(i)]).replace(':c', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(':u', ':')
        row[str(i)] = str(row[str(i)]).replace(': u', ':')
        row[str(i)] = str(row[str(i)]).replace(':U', ':')
        row[str(i)] = str(row[str(i)]).replace(': ', ':')

In [301]:
bike_network

,"CITIES,INDIC_UR\TIME",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Belgium,:,:,:,:,:,:,:,:,:,...,:,15.90,:,:,:,:,:,:,:,:
1,Bruxelles / Brussel,:,:,:,:,:,:,:,:,:,...,:,40.30,:,:,:,:,:,:,:,:
2,Antwerpen,:,:,:,:,:,:,:,:,:,...,:,20.70,:,:,:,:,:,:,:,:
3,Gent,:,:,:,:,:,:,:,:,:,...,:,14.27,:,:,:,:,:,:,:,:
4,Charleroi,:,:,:,:,:,:,:,:,:,...,:,9.00,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,Luzern,44.68,:,:,:,:,:,:,:,:,...,:,:,47.91,47.80,48.37,46.60,47.16,:,:,:
1071,Luzern (greater city),:,:,:,:,:,:,:,:,:,...,:,:,:,39.90,40.55,:,:,:,:,:
1072,Lugano,24.41,:,:,:,:,:,:,:,:,...,:,:,26.59,27.20,26.81,26.05,26.88,:,:,:
1073,Lugano (greater city),:,:,:,:,:,:,:,:,:,...,:,:,:,25.70,25.32,:,:,:,:,:
1074,Biel/Bienne,34.75,:,:,:,:,:,:,:,:,...,:,:,38.94,41.60,38.30,:,:,:,:,:

In [348]:
bike_network = bike_network.replace(':', np.nan)
kill_accident = kill_accident.replace(':', np.nan)
share_bike = share_bike.replace(':', np.nan)
share_car_mot = share_car_mot.replace(':', np.nan)
share_foot = share_foot.replace(':', np.nan)
share_pub_tra =  share_pub_tra.replace(':', np.nan)
cost_ticket = cost_ticket.replace(':', np.nan)
cost_taxi = cost_taxi.replace(':', np.nan)

In [303]:
bike_network = bike_network.reset_index(drop=True)
bike_network_prova = bike_network.iloc[:,1:30]
bike_network_prova = bike_network_prova.dropna(how='all')

lista_indici=[]
for index,row in bike_network_prova.iterrows():
    lista_indici.append(index)
bike_network.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

bike_network_prova = bike_network_prova.reset_index(drop=True)
len(bike_network_prova)

700

In [304]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,700):
    y = []
    for el in bike_network_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [305]:
bike_network2019 = pd.DataFrame(lista_prev2019)
bike_network2019['city'] = bike_network['CITIES,INDIC_UR\TIME']
bike_network2019

             0                 city
0    11.377525              Belgium
1    41.522291  Bruxelles / Brussel
2    20.597328            Antwerpen
3    16.127882                 Gent
4     9.283571            Charleroi
..         ...                  ...
695  47.149451            Pabianice
696  40.227401               GlogÃ³w
697  26.204894         Stalowa Wola
698  25.508596  TomaszÃ³w Mazowiecki
699  38.249345                Lomza

[700 rows x 2 columns]

In [306]:
kill_accident = kill_accident.reset_index(drop=True)
kill_accident_prova = kill_accident.iloc[:,1:30]
kill_accident_prova = kill_accident_prova.dropna(how='all')

lista_indici=[]
for index,row in kill_accident_prova.iterrows():
    lista_indici.append(index)
kill_accident.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

kill_accident_prova = kill_accident_prova.reset_index(drop=True)
len(kill_accident_prova)

705

In [307]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,705):
    y = []
    for el in kill_accident_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [308]:
kill_accident2019 = pd.DataFrame(lista_prev2019)
kill_accident2019['city'] = kill_accident['CITIES,INDIC_UR\TIME']
kill_accident2019

             0                 city
0     8.705862              Belgium
1     2.076010  Bruxelles / Brussel
2    13.040000            Antwerpen
3    12.550000                 Gent
4     0.600000            Charleroi
..         ...                  ...
700   8.125680               Leszno
701   7.561182             Swidnica
702   1.816212               Zgierz
703   1.656145                Tczew
704   8.499089                  Elk

[705 rows x 2 columns]

In [309]:
share_bike = share_bike.reset_index(drop=True)
share_bike_prova = share_bike.iloc[:,1:30]
share_bike_prova = share_bike_prova.dropna(how='all')

lista_indici=[]
for index,row in share_bike_prova.iterrows():
    lista_indici.append(index)
share_bike.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

share_bike_prova = share_bike_prova.reset_index(drop=True)
len(share_bike_prova)

719

In [310]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,719):
    y = []
    for el in share_bike_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [311]:
share_bike2019 = pd.DataFrame(lista_prev2019)
share_bike2019['city'] = share_bike['CITIES,INDIC_UR\TIME']
share_bike2019

             0                 city
0     3.475788              Belgium
1     4.892044  Bruxelles / Brussel
2     2.960000            Antwerpen
3     2.310000                 Gent
4     2.010000            Charleroi
..         ...                  ...
714   7.898409            Walbrzych
715   6.084150               Elblag
716  11.756788            Wloclawek
717   9.845333               TarnÃ³w
718   7.162099              ChorzÃ³w

[719 rows x 2 columns]

In [312]:
share_car_mot = share_car_mot.reset_index(drop=True)
share_car_mot_prova = share_car_mot.iloc[:,1:30]
share_car_mot_prova = share_car_mot_prova.dropna(how='all')

lista_indici=[]
for index,row in share_car_mot_prova.iterrows():
    lista_indici.append(index)
share_car_mot.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

share_car_mot_prova = share_car_mot_prova.reset_index(drop=True)
len(share_car_mot_prova)

746

In [313]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,746):
    y = []
    for el in share_car_mot_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [314]:
share_car_mot2019 = pd.DataFrame(lista_prev2019)
share_car_mot2019['city'] = share_car_mot['CITIES,INDIC_UR\TIME']
share_car_mot2019

             0                 city
0    74.755911              Belgium
1    51.406318  Bruxelles / Brussel
2    57.513202            Antwerpen
3    65.889852                 Gent
4    85.533030            Charleroi
..         ...                  ...
741  37.509877             Barreiro
742  46.122229      PÃ³voa de Varzim
743  61.263804               Sintra
744  62.989926    Vila Nova de Gaia
745  46.086862           Matosinhos

[746 rows x 2 columns]

In [327]:
share_foot = share_foot.reset_index(drop=True)
share_foot_prova = share_foot.iloc[:,1:30]
share_foot_prova = share_foot_prova.dropna(how='all')

lista_indici=[]
for index,row in share_foot_prova.iterrows():
    lista_indici.append(index)
share_foot.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

share_foot_prova = share_foot_prova.reset_index(drop=True)
len(share_foot_prova)

987

In [328]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,987):
    y = []
    for el in share_foot_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [329]:
share_foot2019 = pd.DataFrame(lista_prev2019)
share_foot2019['city'] = share_foot['CITIES,INDIC_UR\TIME']
share_foot2019

            0                    city
0    0.701955                 Belgium
1    0.228306     Bruxelles / Brussel
2    0.403951               Antwerpen
3    0.421452                    Gent
4    0.494254               Charleroi
..        ...                     ...
982  0.282272                 Preston
983  0.217268  Preston (greater city)
984  0.317963               St Albans
985  0.198791                 Warwick
986  0.246481    Newcastle-under-Lyme

[987 rows x 2 columns]

In [330]:
share_pub_tra = share_pub_tra.reset_index(drop=True)
share_pub_tra_prova = share_pub_tra.iloc[:,1:30]
share_pub_tra_prova = share_pub_tra_prova.dropna(how='all')

lista_indici=[]
for index,row in share_pub_tra_prova.iterrows():
    lista_indici.append(index)
share_pub_tra.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

share_pub_tra_prova = share_pub_tra_prova.reset_index(drop=True)
len(share_pub_tra_prova)

415

In [331]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,415):
    y = []
    for el in share_pub_tra_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [332]:
share_pub_tra2019 = pd.DataFrame(lista_prev2019)
share_pub_tra2019['city'] = share_pub_tra['CITIES,INDIC_UR\TIME']
share_pub_tra2019

              0                  city
0    297.690131               Belgium
1    675.137155   Bruxelles / Brussel
2    438.584852             Antwerpen
3     63.683276                  Gent
4    115.879833             Charleroi
..          ...                   ...
410  173.771675    Brive-la-Gaillarde
411  246.000000                  Albi
412   30.710263                FrÃ©jus
413   11.000000  ChÃ¢lons-en-Champagne
414   14.014778               Aubagne

[415 rows x 2 columns]

In [349]:
cost_ticket = cost_ticket.reset_index(drop=True)
cost_ticket_prova = cost_ticket.iloc[:,1:30]
cost_ticket_prova = cost_ticket_prova.dropna(how='all')

lista_indici=[]
for index,row in cost_ticket_prova.iterrows():
    lista_indici.append(index)
cost_ticket.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

cost_ticket_prova = cost_ticket_prova.reset_index(drop=True)
len(cost_ticket_prova)

465

In [350]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,465):
    y = []
    for el in cost_ticket_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [351]:
cost_ticket2019 = pd.DataFrame(lista_prev2019)
cost_ticket2019['city'] = cost_ticket['CITIES,INDIC_UR\TIME']
cost_ticket2019

             0                 city
0    52.162559              Belgium
1    35.961476  Bruxelles / Brussel
2    35.961476            Antwerpen
3    33.761608                 Gent
4    35.089030            Charleroi
..         ...                  ...
460  50.091133                Split
461  54.359511          Pula - Pola
462  54.330864                Zadar
463  49.467406                Italy
464  49.066682                 Roma

[465 rows x 2 columns]

In [352]:
cost_taxi = cost_taxi.reset_index(drop=True)
cost_taxi_prova = cost_taxi.iloc[:,1:30]
cost_taxi_prova = cost_taxi_prova.dropna(how='all')

lista_indici=[]
for index,row in cost_taxi_prova.iterrows():
    lista_indici.append(index)
cost_taxi.iloc[lista_indici]['CITIES,INDIC_UR\TIME']

cost_taxi_prova = cost_taxi_prova.reset_index(drop=True)
len(cost_taxi_prova)

582

In [353]:
lista_prev2019 = []

x = list(range(1990,2019))
x = np.array(x).reshape((-1,1))

for i in range(0,582):
    y = []
    for el in cost_taxi_prova.loc[i]:
        y.append(el)
        n = np.array(y).reshape((-1,1))
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(n)
    y_imp = imp.transform(n)
    model = LinearRegression().fit(x, y_imp)
    prev = np.arange(1990,2020).reshape((-1,1))
    y_pred = model.predict(prev)
    lista_prev2019.append(y_pred[-1])

In [354]:
cost_taxi2019 = pd.DataFrame(lista_prev2019)
cost_taxi2019['city'] = cost_taxi['CITIES,INDIC_UR\TIME']
cost_taxi2019

             0                 city
0    11.188160              Belgium
1    11.965250  Bruxelles / Brussel
2    11.695296            Antwerpen
3     9.593033                 Gent
4     9.857590            Charleroi
..         ...                  ...
577  18.355501          NyÃ­regyhÃ¡za
578  18.679435                 PÃ©cs
579  20.485209             Debrecen
580  13.800000               Szeged
581  18.199015                 GyÃµr

[582 rows x 2 columns]

In [287]:
misurazioni = pd.DataFrame(misurazioni)
misurazioni.groupby(0).size()

0
ength of bicycle network (dedicated cycle paths and lanes) - km                                           1057
eople killed in road accidents per 10000 pop.                                                             1057
hare of journeys to work by bicycle -%                                                                    1057
hare of journeys to work by car or motor cycle -%                                                         1057
hare of journeys to work by foot -%                                                                       1057
hare of journeys to work by public transport (rail, metro, bus, tram) -%                                  1057
ost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone - EUR    1057
ost of a taxi ride of 5 km to the centre at day time - EUR                                                1057
dtype: int64

In [449]:
bike_network2019.columns = ['Length of bicycle network ', 'city']
kill_accident2019.columns = ['People killed in road accidents per 10000 pop', 'city']
share_bike2019.columns = ['Share of journeys to work by bicycle', 'city']
share_car_mot2019.columns = ['Share of journeys to work by car or motor cycle', 'city']
share_foot2019.columns = ['Share of journeys to work by foot', 'city']
share_pub_tra2019.columns = ['Share of journeys to work by public transport (rail, metro, bus, tram)', 'city']
cost_ticket2019.columns = ['Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone', 'city']
cost_taxi2019.columns = ['Cost of a taxi ride of 5 km to the centre at day time', 'city']

In [373]:
bike_netwoks_2019 = Eurostat_db.bike_netwoks_2019
kill_accident_2019 = Eurostat_db.kill_accident_2019
share_bike_2019 = Eurostat_db.share_bike_2019
share_car_moto_2019 = Eurostat_db.share_car_moto_2019
share_foot_2019 = Eurostat_db.share_foot_2019
share_pub_2019 = Eurostat_db.share_pub_2019
cost_ticket_2019 = Eurostat_db.cost_ticket_2019
cost_taxi_2019 = Eurostat_db.cost_taxi_2019

In [452]:
bike_netwoks_2019.insert_many(bike_network2019.to_dict('records'))
kill_accident_2019.insert_many(kill_accident2019.to_dict('records'))
share_bike_2019.insert_many(share_bike2019.to_dict('records'))
share_car_moto_2019.insert_many(share_car_mot2019.to_dict('records'))
share_foot_2019.insert_many(share_foot2019.to_dict('records'))
share_pub_2019.insert_many(share_pub_tra2019.to_dict('records'))
cost_ticket_2019.insert_many(cost_ticket2019.to_dict('records'))
cost_taxi_2019.insert_many(cost_taxi2019.to_dict('records'))